body{
    background-color: rgba(29, 29, 29, 0.9);
    color: white;
}

.b{
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px ;
}

.criado{
    background-color: black;
    color: red;
    text-align: center;
}
