.menu .um{
    color: black;
    font-size: 25px;
}

.titulo{
    
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 3px 2px black;
    
}

.PrinIndex figure{
    margin: 10px;
    width: 200%;
    
}

.PrinIndex figure img{
    
    width: 100%;
}

.foto{
    border-radius: 50px;
    border: 1px solid white;
}

.PrinIndex{
    display: flex ;
    text-align: center;
    align-items: center;
}

.PrinIndex p{
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid white;
    border-radius: 20px;
    text-align: justify;
    padding: 10px;
    margin: 50px;
}
